#app{
  height:90vh;
}
.night{
  background-color: black;
  color:white;
}

#swap{
  outline:0;
}

.button_night{
  background-color:blue;
  color:white; 
}
#ptag{
color:red;
}
.day {
        background-color: #ffffff;
        color: #000000;
    }

    .night {
        background-color: #333333;
        color: #ffffff;
    }

    .button_day {
        background-color: #007bff;
        color: #ffffff;
    }

    .button_night {
        background-color: #343a40;
        color: #ffffff;